.box-layout {
  background: $main-color;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
}

.box-layout__box {
  background: fade-out($color: $main-color, $amount: 0.35);
  border-radius: 5px;
  text-align: center;
  width: 25rem;
  padding: $l-size;
}

.box-layout__title {
  margin: $m-size 0;
}
