.page-header {
  text-align: center;
  background-color: #5a5e6b;
  padding: $l-size 0;
  margin-bottom: $l-size;
  color: $secondary-color;
}

.page-header__title {
  text-align: center;
  margin: 0;
  font-weight: 300;
}

.page-variable {
  font-weight: 700;
}
